 

<!--structural directive-->
<h1 *ngIf="ekta then ekta2 else yadav">
    this is my name
</h1> 
<ng-template #ekta2>this is then statement</ng-template>

<ng-template #yadav> this is else statement!!!!</ng-template><br>

 <!--ngfor statement
 <div *ngFor="let xyz of ekta1; index as i ">
    <ul style="list-style:number;">
        <li *ngIf="i">it is index name</li>
        <li >
            {{xyz.name}}
        </li>
        <li>{{xyz.sname}}</li>
    </ul>
 </div>
<div >
    <ul *ngFor="let abc of ekta1; even as e; odd as o; index as i">
        <li *ngIf="o" style="background-color:yellow ;">{{i}}{{abc.name}}</li>
        <li *ngIf="e" style="background-color: red;">{{i}}{{abc.sname}}</li>
        <li *ngIf="o" style="background-color:yellow ;">{{i}}{{abc.name}}</li>
        <li *ngIf="e" style="background-color: red;">{{i}}{{abc.sname}}</li>
        <li *ngIf="o" style="background-color:yellow ;">{{i}}{{abc.name}}</li>
        <li *ngIf="e" style="background-color: red;">{{i}}{{abc.sname}}</li>
        
    </ul>
</div>
-->

 <!--ngswitch -->
<div [ngSwitch]="ekta">
    <div *ngSwitchCase="ekta1"> my name is ekta</div>
    <div *ngSwitchCase="ekta">my name is ekta yadav and this is 2nd case</div>
</div>
<div [ngSwitch]="tax">
<div *ngSwitchCase="30">this is collection of tax is 30</div>
<div *ngSwitchCase="10">this is collection of tax is 10</div>

</div>
 <!--attribute directive-->

 <!--ngstyle-->
 <div [ngStyle]="{'color': 'red', 'background-color':'yellow', 'font-style': 'italic'}">this is red color</div>
 <div [ngStyle]=" {'background-color':color}">this is red color</div>
 <div [ngStyle]=" {'color': textcolor === 'red'? 'red':'green'}">this is red color</div>



 <!--ngclass-->
<div [ngClass]="'c1 c2'">this is purple color</div>
<div [ngClass]="style"> this is my exaple thired whre i use dynamic color style</div>
<div [ngClass]= "style1 === 'c4'? 'c4' : 'c5'"> this is my exaple thired whre i use dynamic color style</div>



 <!--data binding-->
 <!--property binding  this is one way data binding-->
<input  class="form-group" type="text" name="" id="" [value]="ekta1 | json"> <br>
<img [src]="img1" alt="" height="300px" width="200" [title]="ekta1.name" >
<a href="edit/78" class="btn btn-danger"> <i class="fa fa-pencil">&nbsp;</i>Edit </a>
<div [innerHTML]="ekta1.name" [title]="ekta1.name" ></div>
<div [title]="ekta1.sname" [style.color]="style11">{{ekta1.sname}}</div>
<img [src]="img1" [alt]="ekta3">


<!--interpolation-->
<div [ngClass]="'c1'" >{{ekta1.sname | titlecase}} | {{ekta1.name | titlecase}}</div>

 
<!--attibute binding this is also a one way data binding-->
 <table *ngFor="let ABC of contact" style="background-color: rgb(169, 185, 240); border-radius:5px; border-top: 1rem; border-color: black;">
     <tr>
        <th [attr.colSpan]="colval">contact name</th>
        <th>contact sname</th>
        <th>contact id</th>
     </tr>
     <tr>
        <td colspan="2">{{ABC.name}}</td>
        <td colspan="2">{{ABC.sname}}</td>
        <td colspan="2">{{ABC.id}}</td>

     </tr>

 </table>




 <!--Event binding-->
 <div  (click)="ekta3()" class="btn btn-danger">this is new</div>
 <div class="btn btn-primary">this onkey press event</div>
 <input type="text" (keydown)="ekta3()">
 <br>
 <input type="text"  (keypress)="ekta3()" (mouseover)="ekta3()">
 <input type="text" name="" id="" (mouseover)="ekta3()">
 <input type="text" (keyup)="ekta3()"><br>
 <input type="text" name="" id="" (blur)="ekta3()">
 <br>
 <input type="text">

 <!--two way data binding-->
<input type="text" name="" id="" [(ngModel)]="ekta1.name">
<div *ngIf="month > 5"> this is my name :--------{{ekta1.name |uppercase}}</div>
<input type="text" name="" id="" [(ngModel)]="ekta1.sname">
<div>this is my last name:--------{{ekta1.sname}}</div>
<br>
<input type="text" [(ngModel)]="month" name="" id="">
<div *ngIf="month > 5"> {{month}}</div>

<!--pipes-->

<div>{{title | uppercase}}</div>
<div>{{username| uppercase }} {{today |date : 'full'}}</div>
<div>{{ today |  date : 'MM-dd-yyyy'}}</div>
<div>{{today | date: 'hh.mm ' }}</div>
<div>{{num  | currency : 'INR'}}</div>
<div>{{num1 | percent : '2.3'}}</div>
<div>{{num| currency : 'INR'}}</div>
<div>{{today | date : 'short'}}</div>



<!--Angular router-->




<a  [routerLink]="'contact/78'" class="btn btn-primary">thi is router</a>
<a href="" [routerLink]="'grid'">grid</a>
 
 
<router-outlet></router-outlet>











 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 <h1 class="container">{{title | uppercase}}</h1>
 
 <a href=" http://localhost:4000" target="_blank">hellow</a><br>
 <a href="" class="btn btn-danger"><i class="fa fa-pencil" aria-hidden="true"></i>danger</a>
 <h1 appFonts  >my name is ekta !!!!</h1>
 <h2 appFonts ></h2>
 <h1 class=" fa-solid fa-utensils"> this is new</h1>