h1{
    background-color: aquamarine;
}
.c1{
    color: purple;
    background-color: greenyellow;
}
.c2{
   
    background-color:rgb(228, 133, 133);
}
.c3{
    color: rgb(243, 101, 101);
    background-color: rgb(63, 102, 4);
}
.c4{
    color: rgb(104, 4, 4);
    background-color: rgb(6, 122, 122);
}
.c5{
    color: rgb(248, 142, 142) ;
    background-color: rgb(20, 43, 43);
}